<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script>
   // (function poll() {
   //    setTimeout(function() {
   //        $.ajax({ url: "/u/76561198192124290/json", success: function(data) {
   //             console.log(data);
   //        }, dataType: "json", complete: poll });
   //     }, 30000);
   // })();
   (function poll(){
    $.ajax({ url: "/u/76561198192124290/json", success: function(data){
        //Update your dashboard gauge
        console.log(data.player.weapons.weapon_1.ammo_clip);
    }, dataType: "json", complete: poll, timeout: 30000 });
})();
</script>

<div>
    <h1>Counter-Strike: GO</h1>

    <h3><span>Profile of</span>{{ steamId }}</h3>

    <p><span>Map:</span>{{ map.name }}</p>

    <p><span>Mode:</span>{{ map.mode }}</p>

    <p><span>Phase:</span>{{ map.phase }}</p>

    <p>
        <span>Score:</span>
        <span>{{ map.team_ct.score }}</span>
        <span>&ndash;</span>
        <span>{{ map.team_t.score }}</span>
    </p>

    <p>
        <span>Round:</span>
        <span>{{ map.round }}</span>
    </p>

    <p>
        <span>Roundphase:</span> {{ round.phase }}
    </p>
    <pre>
        {{ raw }}
    </pre>
</div>
